@font-face {
    font-family: broken-console;
    src: url('./Fonts/broken-console-bold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-top: 20px;
    background-color: rgb(10, 10, 10);
}

section {
    min-height: 100vh;
    margin: 0px 100px;
}


/* ========= Nav ========= */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav--img{
    width: 60px;
}

.nav--text{
    display: flex;
    align-items: center;
    color: white;
    font-family: broken-console;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.nav--items {
    padding: 20px;
}

.nav--items:hover {
    color: #e45758;
    cursor: pointer;
}


/* ========= About ========= */
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 110px;
    color: white;
    font-family: broken-console;
    padding-bottom: 100px;
}

.about--text--name {
    font-size: 55px;
    letter-spacing: 1px;
}

.about--text--name > span {
    color: #e45758 ;
}

.about--text--description {
    font-size: 26px;
    font-family: Poppins;
    margin-top: 30px;
    color: rgb(238, 238, 238);
}
    
.about--img {
    object-fit: cover;
    object-position: 0% 20%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 40px;
}


/* ========= Experiences ========= */
.experience {
    color: white;
}

.experience--title{
    font-family: broken-console;
    color: #e45758;
    font-size: 30px;
}

.experience--details {
    display: flex;
    font-family: Poppins;
    margin-top: 20px;
}

.experience--details--date {
    display: flex;
    font-size: 20px;
    color: rgb(194, 194, 194);
    margin-right: 200px;
}
.experience--details--date > p{
    margin-right: 10px;
}

.experience--details--job {
    font-size: 25px;
}

.experience--details--description {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(223, 223, 223);
}
    
.experience--details--tools {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 18px;
    color: rgb(156, 156, 156);
}
.experience--details--tools > p {
    margin-right: 10px;
}


/* ========= Projects ========= */
.project {
    color:white;
    margin-top: 110px;
}

.project--title {
    font-family: broken-console;
    color: #e45758;
    font-size: 30px;
}

.project--details {
    font-family: Poppins;
    margin-top: 50px;
}

.project--details--title {
    font-size: 25px;
}

.project--details--description {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(223, 223, 223);
}

.project--details--tools {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 18px;
    color: rgb(156, 156, 156);
}
.project--details--tools > p {
    margin-right: 10px;
}

.project--details--repository {
    display: flex;
    flex-direction: row;
    color: rgb(156, 156, 156);
    margin-top: 5px;
}

.project--details--repository > p > a {
    all: unset;
    color: #e76a6a;
    padding: 3px;
    border-radius: 8px;
    border-width: 0px;
}

.project--details--repository > p > a:hover {
    cursor: pointer;
}


/* ========= Contact ========= */
.contact {
    color: rgb(238, 238, 238);;
    margin-top: 110px;
}

.contact--title {
    font-family: broken-console;
    color: #e45758;
    font-size: 30px;
}

.contact--text {
    font-family: Poppins;
    margin-top: 20px;
    font-size: 20px;
}

.contact--text--item {
    all: unset;
    color: #e76a6a;
}

.contact--text--item:hover {
    cursor: pointer;
}


/* ========= Footer ========= */
.footer {
    color: white;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.footer > a > img {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}