@font-face {
    font-family: broken-console;
    src: url('./Fonts/broken-console-bold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    margin-top: 20px;
    background-color: rgb(10, 10, 10);
}

section {
    margin: 0px 15%;
}    


/* ========= Nav + About ========= */
.home {
    height: 90vh;
}


/* ========= Nav ========= */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}    

.nav--img{
    width: 60px;
}    

.nav--text{
    display: flex;
    align-items: center;
    color: white;
    font-family: broken-console;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.5px;
}    

.nav--items {
    padding: 20px;
}    

.nav--items:hover {
    color: #e45758;
    cursor: pointer;
}    


/* ========= About ========= */
.about {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    margin-top: 10%;
    margin-bottom: 100px;
    font-family: broken-console;
}

.about--text {
    padding: 50px 0px;
}

.about--text--name {
    font-size: 40px;
    letter-spacing: 1px;
}

.about--text--name > span {
    color: #e45758 ;
}

.about--text--description {
    font-size: 25px;
    font-family: Poppins;
    margin-top: 30px;
    color: rgb(238, 238, 238);
}
    
.about--img {
    object-fit: cover;
    object-position: 0% 20%;
    width: 300px;
    border-radius: 50%;
    margin-left: 40px;
}


/* ========= FONT SIZE AND FAMILY ========= */
.topic {
    font-family: broken-console;
    color: #e45758;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 110px;
}

.subtopic {
    font-size: 25px;
    color: white;
}

.description {
    font-size: 20px;
    color: rgb(223, 223, 223);
    margin-top: 10px;
}

.tools {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 18px;
    color: rgb(156, 156, 156);
}

/* ========= Experiences ========= */
.experience--details {
    display: flex;
    margin-top: 20px;
}

.experience--details--date {
    display: flex;
    font-size: 20px;
    color: rgb(194, 194, 194);
    margin-right: 200px;
}
.experience--details--date > p{
    margin-right: 10px;
}
    
.experience--details--tools > p {
    margin-right: 10px;
}


/* ========= Projects ========= */
.project--details {
    margin-bottom: 50px;
}

.project--details--tools > p {
    margin-right: 10px;
}

.project--details--repository {
    display: flex;
    flex-direction: row;
    color: rgb(156, 156, 156);
    margin-top: 5px;
}

.project--details--repository > p > a {
    all: unset;
    color: #e76a6a;
    padding: 3px;
}

.project--details--repository > p > a:hover {
    cursor: pointer;
}


/* ========= Contact ========= */
.contact {
    color: rgb(238, 238, 238);;
    margin-top: 110px;
}

.contact--text--item {
    all: unset;
    color: #e76a6a;
}

.contact--text--item:hover {
    cursor: pointer;
}


/* ========= Footer ========= */
.footer {
    color: white;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.footer > a > img {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

@media only screen and (max-width: 1200px) {
    .nav--text {
        font-size: 25px;
    }
    .nav--items {
        padding: 12px;
    }
    .about {
        margin-top: 20%;
        flex-wrap: wrap-reverse;
    }
    .about--text--name{
        font-size: 80px;
        text-align: center;
        margin-top: 20px;
    }
    .about--text--description {
        font-size: 50px;
        text-align: center;
    }
    .about--img {
        width: 400px;
    }
    .experience--details {
        flex-wrap: wrap;
    }
    .topic {
        font-size: 60px;
    }
    .subtopic {
        font-size: 33px;
    }
    .description {
        font-size: 40px;
    }
    .tools {
        flex-wrap: wrap;
        font-size: 35px;
    }
    .experience--details--date {
        font-size: 30px;
    }
    .project--details--repository {
        font-size: 30px;
    }
    .footer > a > img {
        width: 66px;
    }
}